body {
  background: #d5e1ef;
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {}

.wrapper {
  background: white;
  max-width: 327px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;

}

h2,
p {
  text-align: center;
  padding: 0px 25px;
}

p {
  color: grey;
  font-size: 1rem;
  padding: 0px 40px;
}

img {
  max-width: 327px;
  border-radius: 20px;
  cursor: pointer;
}
